/*// POP-UP & entryHolder ANIMATION STYLES //*/

.pop-up-drop {
    top: -200px;
    animation: drop 0.5s ease forwards;
}

@keyframes drop {
    0% {
        opacity: 0;
    }
    70% {
        transform: translateY(500px); // transform: translateY(200px)
    }
    100% {
        transform: translateY(470px);
        // transform: translateY(200px);
        opacity: 1;
    }
}

.pop-up-swing {
    top: -200px;
    transform-origin: 10px 10px;
    animation: swing1 1s ease forwards;
}

@keyframes swing1 {
    0% {
        transform: translateY(470px) rotateZ(0deg);
    }
    40% {
        transform: translateY(470px) rotateZ(90deg);
    }
    70% {
        transform: translateY(470px) rotateZ(70deg);
    }
    100% {
        transform: translateY(470px) rotateZ(75deg);
    }
}