//Variables
$titleColor: rgb(240, 212, 72);
//
.centerTitle {
    text-align: center;
}

.title {
    font-style: italic;
    color: darken($titleColor, 10);
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
}

#allEntryHolders {
    width: inherit;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

//
#to-display-or-not {
    display: none;
}