//Variables
$titleColor: rgb(240, 212, 72);
$transparentBlueBGcolor: rgba(25, 70, 100, .4);
//
.bg {
    background-image: url('./images/david-marcu-78A265wPiO4-unsplash.jpg');
    background-size: 100% 100%;
    min-height: 100%;
    position: relative;
    padding-bottom: 50px;
}

footer {
    background-color: #303036;
    text-align: center;
    color: #d3d3d3;
    padding-top: 10px;
    padding-bottom: 10px;
    // position: fixed;
    // position: static;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

#app {
    // display: grid;
    // grid-auto-rows: minmax(50px, auto);
    /* grid-template-columns:  */
    // height: 100vh;
    /* background: #f23557; */
    // grid-template-columns: auto;
    color: #f0d43a;
    // justify-content: center;
    // grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    min-height: 100%;
}

label {
    color: darken($titleColor, 10);
}

.headline {
    font-size: 2em;
    color: darken($titleColor, 10);
}

.title {
    font-style: italic;
    color: darken($titleColor, 10);
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
    // line-height: 310px;
}


/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    display: block;
    font-size: 27px;
    font-weight: normal;
}

input {
    display: block;
    height: 60px;
    width: 320px;
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    // width: 400px;
    // height: 100px;
    // margin-left: auto;
    // margin-right: auto;
    padding: 10px;
    width: 100px;
    background: rgba(25, 70, 100, .8);
    color: #f0d43a;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    // border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 5px #444;
    &:hover {
        background: #3b4a6b;
    }
}

h1 {
    font-size: 36px;
}

textarea {
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Style for Placeholder Text*/

 ::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

///////////////////////////////////////////

/*// POP-UP & deleteXbtn BASE STYLES //*/

.pop-up h1 {
    // font-size: 48px;
    margin: 10px 0;
}

.pop-up {
    position: absolute;
    left: 40%;
    width: 20%;
    text-align: center;
    z-index: 10;
    // display: none;
}

.pop-up .container {
    background: #f0e4d4;
    // padding: 30px;
    // // position: absolute;
    // top: 50px;
    padding: 10%;
    top: 13%;
    width: 100%;
    box-sizing: border-box;
}

.exit {
    // position: absolute;
    // top: 10px;
    // left: 10px;
    background: #555;
    color: #ddd;
    font-weight: bold;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 11px;
    &:hover {
        cursor: pointer;
    }
}

.deleteXbtn {
    // background: #555;
    // color: #ddd;
    font-weight: bold;
    width: 27px;
    // height: 22px;
    text-align: center;
    border-radius: 11px;
    margin-bottom: 5px;
    font-size: 10px;
    font-family: sans-serif;
    padding: 5px 5px 3px 5px;
    &:hover {
        cursor: pointer;
    }
}


/*// POP-UP & entryHolder ANIMATION STYLES //*/

.pop-up-drop {
    top: -200px;
    animation: drop 0.5s ease forwards;
}

@keyframes drop {
    0% {
        opacity: 0;
    }
    70% {
        transform: translateY(500px); // transform: translateY(200px)
    }
    100% {
        transform: translateY(470px);
        // transform: translateY(200px);
        opacity: 1;
    }
}

.pop-up-swing {
    top: -200px;
    transform-origin: 10px 10px;
    animation: swing1 1s ease forwards;
}

@keyframes swing1 {
    0% {
        transform: translateY(470px) rotateZ(0deg);
    }
    40% {
        transform: translateY(470px) rotateZ(90deg);
    }
    70% {
        transform: translateY(470px) rotateZ(70deg);
    }
    100% {
        transform: translateY(470px) rotateZ(75deg);
    }
}

//We're currently using drop for entryHolder, not swing
// .entryHolder-swing {
//     transform-origin: 10px 10px;
//     animation: swing2 1s ease forwards;
// }
// @keyframes swing2 {
//     0% {
//         transform: rotateZ(0deg);
//     }
//     40% {
//         transform: rotateZ(90deg);
//     }
//     70% {
//         transform: rotateZ(70deg);
//     }
//     100% {
//         transform: rotateZ(75deg);
//     }
// }
.entryHolder-drop {
    transform-origin: 10px 15px;
    animation: drop2 0.5s ease forwards;
}

@keyframes drop2 {
    0% {
        opacity: 1;
    }
    100% {
        transform: translateY(1000px);
        opacity: 0;
    }
}